pandas==2.3.3
numpy==2.0.1
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
matplotlib==3.9.2
statsmodels==0.14.6
pyspark==4.0.3
py4j==0.10.9.9
category-encoders==2.6.4
hyperopt==0.2.7
openpyxl==3.1.5
jupyter